* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--clr-background);
}

/*NAVBAR/DARK-MODE*/
.wrapper {
  width: 100%;
  height: 100px;
  padding: 1.5rem;
  padding-left: 10rem;
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-size: 2rem;
  box-shadow: #333 3px 3px 10px;
  z-index: 1;
}
.wrapper .switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 2rem;
  font-size: 1rem;
}
.wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.wrapper .slider {
  margin: 2rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b9b9b9;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: #333 1px 1px 3px;
  width: 4rem;
  height: 2rem;
}
.wrapper .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0037, rgba(242, 255, 0, 0.6862745098) 70%);
  transition: 0.4s;
}
.wrapper input:checked + .slider {
  background-color: #303136;
}
.wrapper input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.wrapper #span {
  float: right;
}

.navbar {
  width: 100%;
  height: 7rem;
  background-color: var(--clr-thrid);
}
.navbar .navbar-buttons {
  display: flex;
  justify-content: start;
  padding: 1.5rem;
  box-shadow: #333 1px 7px 7px;
}
.navbar .navbar-buttons .nav-btn {
  text-align: center;
  width: 7rem;
  padding: 0.5rem;
  margin: 0.8rem;
  box-shadow: #333 0px 6px 5px;
  background-color: var(--clr-buttons);
  color: var(--clr-btntext);
  border-radius: 0.1rem;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
}
.navbar .navbar-buttons .nav-btn:hover {
  background-color: var(--clr-buttonHover);
  box-shadow: #333 0px 3px 3px;
  transition: 0.2s ease-in-out;
}

/*ADD-POST/ SUB-MENU*/
.sub-menu-wrap.open-menu {
  height: 14rem;
  width: 40%;
  border: 0.3rem solid #333;
}
.sub-menu-wrap.open-menu .popup {
  display: block;
}

.sub-menu-wrap {
  position: absolute;
  overflow: hidden;
  width: 0%;
  z-index: 1;
}
.sub-menu-wrap .addCard {
  width: 100%;
  padding: 2rem;
  box-shadow: #333 3px 3px 10px;
  background-color: var(--clr-primary);
}
.sub-menu-wrap .addCard #title {
  display: none;
}
.sub-menu-wrap .addCard #body {
  display: none;
}
.sub-menu-wrap .addCard #message {
  width: 100%;
  height: 2rem;
  background-color: var(--clr-secondary);
  margin: 0.3rem;
  border: solid 1px #333;
}
.sub-menu-wrap .addCard #message::-moz-placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #message:-ms-input-placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #message::placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #subject {
  width: 100%;
  height: 2rem;
  background-color: var(--clr-secondary);
  margin: 0.3rem;
  border: solid 1px #333;
}
.sub-menu-wrap .addCard #subject::-moz-placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #subject:-ms-input-placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #subject::placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #email {
  width: 100%;
  height: 2rem;
  background-color: var(--clr-secondary);
  margin: 0.3rem;
  border: solid 1px #333;
  cursor: pointer;
}
.sub-menu-wrap .addCard #email::-moz-placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #email:-ms-input-placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard #email::placeholder {
  color: var(--clr-text);
}
.sub-menu-wrap .addCard .add-btn {
  width: 4rem;
  height: 2rem;
  background-color: var(--clr-buttons);
  color: var(--clr-btntext);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  box-shadow: #333 3px 3px 7px;
  margin-left: 0.3rem;
}
.sub-menu-wrap .addCard .add-btn:hover {
  background-color: var(--clr-buttonHover);
}

/*DATA FETCHING CARDS*/
.caseCard {
  background-attachment: scroll;
  position: relative;
  width: 80%;
  margin-top: 1rem;
  border-radius: 1rem;
  margin-left: 10%;
  padding: 0.5rem;
  box-shadow: #333 3px 3px 10px;
  background-color: var(--clr-primary);
  color: var(--clr-text);
}
.caseCard .sections {
  display: inline-block;
  width: 49.8%;
  max-height: 100px;
  overflow: hidden;
  border: solid 0.1rem #333;
}
.caseCard .api-data {
  display: flex;
  padding: 0.4rem;
  background-color: rgb(227, 226, 208);
}
.caseCard .api-data2 {
  display: flex;
  padding: 0.4rem;
  background-color: var(--clr-secondary);
  border-top: solid 0.1rem #333;
}
.caseCard .editButton {
  display: block;
  margin: 0.3rem;
  width: 5rem;
  height: 2rem;
  background-color: var(--clr-buttons);
  color: var(--clr-btntext);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  box-shadow: #333 3px 3px 7px;
}
.caseCard .editButton:hover {
  background-color: #0359af;
}
.caseCard .saveBtn {
  width: 5rem;
  height: 2rem;
  background-color: var(--clr-buttons);
  color: var(--clr-btntext);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  box-shadow: #333 3px 3px 7px;
  margin: 0.5rem;
}
.caseCard .saveBtn:hover {
  background-color: #3b8c3e;
}
.caseCard .cancelBtn {
  width: 5rem;
  height: 2rem;
  background-color: var(--clr-buttons);
  color: var(--clr-btntext);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  box-shadow: #333 3px 3px 7px;
  margin: 0.5rem;
}
.caseCard .cancelBtn:hover {
  background-color: #a82f2f;
}
.caseCard .status {
  position: absolute;
  bottom: 4.7rem;
  right: 0.7rem;
  color: var(--clr-text);
}
.caseCard .form {
  border: 4px solid var(--clr-buttons);
  padding: 0.2rem;
}

.lds-spinner {
  color: official;
  display: none;
  position: absolute;
  left: 6rem;
  bottom: 0;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 25px;
  left: 38px;
  width: 2px;
  height: 8px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*COLORS / DAY/NIGHT-MODE*/
:root {
  --clr-background: rgb(243, 243, 243);
  --clr-primary: #B9B7BD;
  --clr-secondary: #eef5ff;
  --clr-thrid: #9da6af7a;
  --clr-buttons: #bcd4f5;
  --clr-buttonHover: #ffd000de;
  --clr-btntext: #000000;
  --clr-text: #000000;
}

.darkmode {
  --clr-background: rgb(99, 99, 99);
  --clr-primary: rgb(149, 149, 149);
  --clr-secondary: rgb(77, 77, 77);
  --clr-thrid: #6f7781;
  --clr-buttons: #1e3348;
  --clr-buttonHover: #0359af;
  --clr-btntext: #ffffff;
  --clr-text: #ffffff;
}/*# sourceMappingURL=style.css.map */