* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
} 

body {
    background-color: var(--clr-background);
}

/*NAVBAR/DARK-MODE*/

.wrapper {
    width: 100%;
    height: 100px;
    padding: 1.5rem;
    padding-left: 10rem;
    background-color: var(--clr-background);
    color: var(--clr-text);
    font-size: 2rem;
    box-shadow: #333 3px 3px 10px;
    z-index: 1;
    
//DARKMODE BUTTON
    .switch {
        position: absolute;
        top: 0;
        left: 0;
        width: 4rem;
        height: 2rem;
        font-size: 1rem;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
        
    .slider {
        margin: 2rem;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #b9b9b9;
        transition: .4s;
        border-radius: 30px;
        box-shadow: #333 1px 1px 3px;
        width: 4rem;
        height: 2rem;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: var(--size-of-icon,1.4em);
        width: var(--size-of-icon,1.4em);
        border-radius: 20px;
        left: var(--slider-offset,0.3em);
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(40deg,#ff0037,#f2ff00af 70%);
    transition: .4s;
    }
        
    input:checked + .slider {
        background-color: #303136;
    }
        
    input:checked + .slider:before {
        left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
        background: #303136;
        /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
         box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    }

    #span {
        float: right;
    }
}

.navbar {
    width: 100%;
    height: 7rem;
    background-color: var(--clr-thrid);
    
    .navbar-buttons {
        display: flex;
        justify-content: start;
        padding: 1.5rem;
        box-shadow: #333 1px 7px 7px;

        .nav-btn {
            text-align: center;
            width: 7rem;
            padding: 0.5rem;
            margin: 0.5rem;
            box-shadow: #333 0px 6px 5px;
            background-color: var(--clr-buttons);
            color: var(--clr-btntext);
            border-radius: 0.1rem;
            border: 1px solid #333;
            text-decoration: none;
            font-size: 1.1rem;
        }

        .nav-btn:hover {
            background-color: var(--clr-buttonHover);
            box-shadow: #333 0px 3px 3px;
            transition: 0.2s ease-in-out;
        }
    }
}   

/*ADD-POST/ SUB-MENU*/

.sub-menu-wrap.open-menu {
    height: 100%;
    width: 40%;

    .popup {
        display: block;
    }
}

.sub-menu-wrap{
    position: absolute;
    overflow: hidden;
    width: 0%;
    margin-left: 2rem;
    z-index: 1;

    .addCard {
        width: 100%;
        padding: 2rem;
        box-shadow: #333 3px 3px 10px;
        background-color: var(--clr-primary);

        #title {
            display: none;
        }

        #body {
            display: none;
        }

        #message {
            width: 100%;
            height: 2rem;
            background-color: var(--clr-secondary);
            margin: 0.3rem;
            border: solid 1px #333;
        }

        #subject {
            width: 100%;
            height: 2rem;
            background-color: var(--clr-secondary);
            margin: 0.3rem;
            border: solid 1px #333;
        }

        #email {
            width: 100%;
            height: 2rem;
            background-color: var(--clr-secondary);
            margin: 0.3rem;
            border: solid 1px #333;
            cursor: pointer;
        }

        .add-btn {
            width: 4rem;
            height: 2rem;
            background-color: var(--clr-buttons);
            color: var(--clr-btntext);
            border-radius: 0.2rem;
            border: none;
            cursor: pointer;
            box-shadow: #333 3px 3px 7px;
            margin-left: 0.3rem;
        }

        ::placeholder {
            color: var(--clr-text);
        }
    }
}

/*DATA FETCHING CARDS*/

.caseCard {
    background-attachment: scroll;
    position: relative;
    width: 80%;
    margin-top: 1rem;
    border-radius: 0.1rem;
    margin-left: 10%;
    padding: 0.5rem;
    box-shadow: #333 3px 3px 10px;
    background-color: var(--clr-primary);
    color: var(--clr-text);

    .sections {
        display: inline-block;
        width: 49.8%;
        border: solid 0.1rem #333;
    }

    .api-data {
        display: flex;
        padding: 0.4rem;
        background-color: rgb(227, 226, 208);
        
    }

    .api-data2 {
        display: flex;
        padding: 0.4rem;
        background-color: var(--clr-secondary);
        border-top: solid 0.1rem #333;
    }

    .editButton {
        display: block;
        margin: 0.5rem;
        width: 3rem;
        height: 2rem;
        background-color: var(--clr-buttons);
        color: var(--clr-btntext);
        border-radius: 0.2rem;
        border: none;
        cursor: pointer;
        box-shadow: #333 3px 3px 7px;

    }
    
    .editButton:hover {
        background-color: #0359af;
    }

    .saveBtn {
        width: 3rem;
        height: 2rem;
        background-color: var(--clr-buttons);
        color: var(--clr-btntext);
        border-radius: 0.2rem;
        border: none;
        cursor: pointer;
        box-shadow: #333 3px 3px 7px;
        margin: 0.5rem;
    }

    .saveBtn:hover {
        background-color: #3b8c3e;
    }

    .cancelBtn {
        width: 3rem;
        height: 2rem;
        background-color: var(--clr-buttons);
        color: var(--clr-btntext);
        border-radius: 0.2rem;
        border: none;
        cursor: pointer;
        box-shadow: #333 3px 3px 7px;
        margin: 0.5rem;
    }

    .cancelBtn:hover {
        background-color: #a82f2f;
    }

    .status {
        position: absolute;
        bottom: 4.5rem;
        right: 0.7rem;
        color: var(--clr-text);
    }

    .form {
        border: 4px solid var(--clr-buttons);
        padding: 0.2rem;
    }
}

/*COLORS / DAY/NIGHT-MODE*/
:root {
    --clr-background: rgb(243, 243, 243);
    --clr-primary: #B9B7BD;
    --clr-secondary: #eef5ff;
    --clr-thrid: #9da6af7a;
    --clr-buttons: #bcd4f5;
    --clr-buttonHover: #ffd000de;
    --clr-btntext: #000000;
    --clr-text: #000000;

}

.darkmode {
    --clr-background: rgb(99, 99, 99);
    --clr-primary: rgb(255, 255, 255);
    --clr-secondary: rgb(77, 77, 77);
    --clr-thrid: #6f7781;
    --clr-buttons: #1e3348;
    --clr-buttonHover: #2c4a68;
    --clr-btntext: #ffffff;
    --clr-text: #ffffff;
}

.ej{
    color: blue;
}

